#page-title {
    text-align: center;
}

#picture-container {
    /* border: 1px solid black; */
    width: 400px;
    /*height: 400px;*/
    margin: 0 auto; 
}

#image {
    width: 100%;
}

img#image {
    border: 2px solid red;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#picture-css {
    width: 900px;
    height: 300px;
    background-image: url("../images/download.png");
    margin: 0 auto;
}

#hovers h1 {
    text-align: center;
}

#hovers {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-image: url("../images/download.png");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#hovers:hover {
    /* background: black; */
    border: 1px solid red;
    color: red;
    opacity: 1;
    
}